# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db

.env
backend/.env